html{
	background: url(https://images3.alphacoders.com/151/thumb-1920-151409.jpg) no-repeat center center fixed;
	background-size: cover;
}

ul#buttons li{
	display: inline;
}

#buttons{
	margin: 100px;
}

.btn{
	transition : 0.2s;

	border: 3px solid black;
	border-radius: 4px;
	width: 70px;
	box-shadow: 1px 1px 1px yellow;
	background-color: transparent;
	margin: 10px;
}

.primaryKey{
	font-size: x-large;
	text-shadow:2px 2px black;
	color: #ffffff;
}


.secondaryKey{
	color: red;
	font-style: bold;
	font-size: small;
	text-shadow : 1px 1px black;
}

#header{
	width: auto;
	margin: auto;
	padding: 20px;
	text-align: center;
}

#main{
	text-align: center;
	padding: 10px;
}

.playing{
	transform : scale(1.2);
	border: 4px solid yellow ;
	margin: 10px;
	box-shadow: 2px 2px 2px green;
}